@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');

        *{
            padding: 0px;
            margin: 0px;
            font-family: Arial, Helvetica, sans-serif;
            
        }
        html, body{
            background-color: #41A373;
            margin: auto;
        }
        header{
            background-image: linear-gradient(to bottom , #043D00, #41A373);
            height: 100px;
            padding: 80px;
            text-align: center;
            
        }
        #href1{
            text-decoration: none;
            text-align: center;
            margin-top: 18px;
            margin-bottom: 18px;
            font-family:Arial, Helvetica, sans-serif;
            font-variant: small-caps;
            font-size: 8vh;
            text-shadow: 1px 1px 5px black;
            color: white;
        }
        #href1:hover{
            font-size: 15vh;

            transition: 10s;
            transition-delay: 4s;

            text-shadow: 2px 2px 10px white;
            color: rgb(0, 72, 0);
            resize: horizontal;
        }
        menu {
            padding-bottom: 50px;
            position: relative;
            width: 100%;
            text-align: center;
        }
       
        img{
            text-align: center;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-right: 10px;

            box-shadow: 1px 1px 4px black;
        }
        #casa{
            text-align: center;
            width: 70px;
            border-radius: 50%;
            margin-right: 10px;

            box-shadow: 1px 1px 4px black;

        }
        #ws1:hover, #casa:hover, img:hover{
            border: 2px solid white;
            box-sizing: border-box;
            transition: 0.2s;
            box-shadow: 2px 2px 8px black;

        }
        
        
        #ws1{
            text-align: center;
            width: 70px;
            border-radius: 50%;

            box-shadow: 1px 1px 4px black;

        }
        
        ul{
            margin-left: 40px;
            margin-bottom: 10px;
            background-size: 100vh;
        }
        iframe{
            background: url("../imagens/LAVOURAS.png");
            background-repeat: no-repeat;
            width: 100%;
            background-size: cover;
            background-attachment: fixed;
        }
        div > h1{
            font-size: 3em;
            text-align: center;
            padding-top: 50px;
            font-variant: small-caps;
        }
        div#div1{
            margin: auto;
            width: 100%;
            margin-top: 20px;
            background-image: linear-gradient(to bottom , #41A373, white);
        }
        div#div2{
            position: absolute;
            left: 80%;
        }
        fieldset#field1{
            border: 2px solid black;
        }
        fieldset#field2{
            width: 180px;
            text-align: left;
            font-size: 0.7em;
            border: 1px solid black;
            
        }
        #field2 > p{
            padding: 0.5px;
        }
        #field2:hover{
            font-size: 0.82em;
            width: auto;
            transition: 0.2s;
        }
        legend#legend2{
            color: white;
            text-shadow: 1px 1px 1px black;
            font-size: 1.3em;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        legend#legend1{
            margin: auto;
            font-size: 2em;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            text-shadow: 1px 1px 5px white;
        }
        #href3{
            text-decoration: none;
        }
        #href3:hover{
            text-decoration: underline;
        }
        